.v-container .image-container{
    border: 8px solid rgba(232 232 232 /93%);
}
.v-container>div{
    width: 50%; /*also flex: 1*/
}

.accordion{
    margin: 2rem;
    border: none;
    
}
.accordionItem{
    background:white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
}
.accordionButton{
    background: white;
    padding: 1rem;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
    
}
.icon{
    padding: 10px;
    background: #eeeeff;
    border-radius: 5px;
}
.icon svg{
    fill: var(--blue);
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}
.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}






@media (max-width: 1024px){
    .v-container{
        flex-direction: column;
    }
}
@media (max-width: 768px){
 .accordionButton .primaryText{
    font-size: 0.8rem;
    
 }
 .accordionButton{
    width: 400px;

    max-width: 100%;

    
 }
 .accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding-right: none;
    margin-right: auto;
    width: 90%;
    max-height: 100%;

 }
}